.preloader {
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
}

.user-card {
  max-width: 400px;
  margin-top: 40px;
  & .mat-card-header {
    justify-content: center;
    text-align: center;
  }
  & .mat-card-image {
    width: 300px;
    height: 300px;
  }
  & .mat-card-actions {
    justify-content: space-between;
  }
}

.edit-form {
  margin-top: 40px;
}
