<div class="row justify-content-center">
  <div class="col-6">
    <h2 class="login__title text-center mt-4">Регистрация</h2>
    <form [formGroup]="signUpForm">
      <div class="form-group">
        <label for="email">Почта:</label>
        <input
          type="email"
          class="form-control"
          id="email"
          placeholder="почта..."
          formControlName="email"
        >
      </div>
      <div class="form-group" [formGroup]="passwords">
        <label for="password">Пароль:</label>
        <input
          type="password"
          class="form-control"
          id="password"
          placeholder="***"
          formControlName="password"
        >
      </div>
      <div class="form-group" [formGroup]="passwords">
        <label for="password-repeat">Повторите пароль:</label>
        <input
          type="password"
          class="form-control"
          id="password-repeat"
          placeholder="***"
          formControlName="repeat"
        >
      </div>
      <div class="form-group">
        <button
          type="submit"
          class="btn btn-primary w-100"
          (click)="submit()"
          [disabled]="loading || signUpForm.invalid || passwords.invalid"
        >
          Зарегистрироваться
        </button>
      </div>
    </form>
  </div>
</div>
