<h1 mat-dialog-title>Create new employee</h1>

<form [formGroup]="addForm">
  <div class="form-lg-group">
    <label for="name">Name:</label>
    <input
      type="text"
      id="name"
      class="form-control"
      placeholder="Name..."
      formControlName="userName"
    >
  </div>
  <div class="form-group">
    <label for="job">Job:</label>
    <input
      type="text"
      class="form-control"
      id="job"
      placeholder="Job..."
      formControlName="job"
    >
  </div>
</form>

<div mat-dialog-actions>
  <div class="form-group w-100 d-flex justify-content-between">
    <button
      mat-flat-button
      color="primary"
      (click)="handleCreateUser()"
    >
      Create
    </button>
    <button mat-flat-button mat-dialog-close color="warn">Close</button>
  </div>

</div>
