<div class="container">
  <div class="row justify-content-center">
    <div class="col-xl-6 col-lg-8 col-sm-10">
      <h2 class="login__title text-center">Войдите в учетную запись!</h2>
      <form [formGroup]="form" (ngSubmit)="submit()">
        <div class="form-lg-group">
          <label for="email">Почта:</label>
          <input
            type="text"
            id="email"
            class="form-control"
            placeholder="Почта..."
            formControlName="email"
          >
          <div class="validator" *ngIf="login && (login.touched || login.dirty)">
            <small class="form-text">
              {{login.errors?.email ? 'Неправильный формат почты' : ''}}
              {{login.errors?.required ? 'Почта обязательна' : ''}}
            </small>
          </div>
        </div>
        <div class="form-group">
          <label for="password">Пароль:</label>
          <input
            type="password"
            class="form-control"
            id="password"
            placeholder="Пароль..."
            formControlName="password"
          >
          <div class="validator" *ngIf="password && (password.touched || password.dirty)">
            <small class="form-text">
              {{password.errors?.required ? 'Пароль обязателен' : ''}}
            </small>
          </div>
        </div>
        <div class="form-group">
          <button
            type="submit"
            class="btn btn-primary w-100"
            [disabled]="loading || form.invalid"
          >
            Войти
          </button>
        </div>
        <div class="form-group">
          <p>Не зарегистрированы?
            <a routerLink="/registration" class="btn btn-primary">Регистрация</a>
          </p>
        </div>
      </form>
    </div>
  </div>
</div>
