<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 class="text-center mat-display-1">{{title}}</h1>
    </div>
  </div>

  <mat-spinner *ngIf="!users" class="pre-loader"></mat-spinner>

  <div class="row" *ngIf="users">
    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
      <button
        class="bg-primary"
        mat-flat-button
        (click)="openDialog()"
      >
        Добавить нового сотрудника
      </button>
    </div>
  </div>

  <div class="row justify-content-between">
    <div class="col-lg-4 col-md-6 col-sm-12 text-center" *ngFor="let user of users">
      <a
        routerLink="{{user.id}}"
        class="list-group-item list-group-item-action mt-4 border rounded"
        aria-current="true"
      >
        <img src="{{user.avatar}}" alt="{{user.first_name}}" class="w-auto h-auto">
        <div class="d-flex w-100 justify-content-between align-items-center flex-column">
          <h3 class="mb-1">{{user.first_name}} {{user.last_name}}</h3>
          <p class="mb-1">{{user.email}}</p>
        </div>
      </a>
    </div>
  </div>

  <div class="row mt-4 align-items-center" *ngIf="users">
    <div class="col-md-4 col-sm-8 offset-md-8 offset-sm-4">
      <div class="d-flex align-items-center justify-content-end">
        <mat-spinner
          class="d-flex ml-auto"
          diameter="25"
          color="warn"
          *ngIf="loadNextPage"
        ></mat-spinner>
        <mat-paginator
          class="bg-transparent"
          (page)="handlePageEvent($event)"
          [length]="length"
          [pageSize]="pageSize"
          [pageIndex]="currPage"
          [hidePageSize]="true"
        ></mat-paginator>
      </div>
    </div>
  </div>
</div>
